@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --bg-gradient: radial-gradient(circle, rgba(44,55,111,1) 46%, rgba(87,26,70,1) 100%);
    --border-gradient: linear-gradient(to right, rgb(193, 193, 237), rgb(234, 193, 255)) 1;

}

html{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    background: var(--bg-gradient);
    color: white; 
}

.header{
    height: 100px;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.378);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    backdrop-filter: blur(5px);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.col-2{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.border-box{
    padding: 10px 10px;
    border-image: var(--border-gradient);
    border-width: 5px;
    border-style: solid;
    border-radius: 50em;

}


.col-2 a{
    margin: 20px 0;
    color: white;
    text-decoration: none;
}

.col-2 a:hover{
    text-decoration: underline;
}

.nav-bar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


.border-box{
    margin: 0px 10px;
}


h1{
    background: linear-gradient(currentColor 0 0) ;
    background-position: 0 100%;    /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
}


h1:hover{
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;

}


.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-text p{
    width: 75%;
}

h2{
    border-image: var(--border-gradient);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    padding: 0px 10px;
}
h2

.wiggle:hover{
    animation: animate 2s ease-in-out infinite;
   
}

@keyframes animate {
    0% {transform: translateY(0px);}
    20% {transform: translateY(-5px) translatex(-5px);}
    40%,
    100% {transform: translateY(0px);}
} 

#top-link{
    color: rgba(255, 255, 255, 0.506);
    text-decoration: none;
    font-size: italic;
    margin-bottom: 50px;
}

#top-link:hover{
    color: rgba(196, 194, 194, 0.506);
}

/* FOR MOBILE SCREEN SIZE */

@media only screen and (min-width: 375px) and (max-width: 767px)
{
    body{
        position: absolute;
    }

    .container {
        display: block;
        margin-top: 0px;
    }

    .col-2{
        margin: auto;
        width: 50%;
        text-align: center;
    }

    .header{
        width: 100%;
    }

    h4{
        padding: 10px 10px;
    }

    /* .col-2 a{
        text-align: center;
    } */

}


