@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --bg-gradient: radial-gradient(circle, rgba(44,55,111,1) 46%, rgba(87,26,70,1) 100%);
    --border-gradient: linear-gradient(to right, rgb(193, 193, 237), rgb(234, 193, 255)) 1;
    --color1: white;
    --color2: rgb(67, 77, 131);
    --color3: rgb(93, 102, 148);
}

html{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    background: var(--bg-gradient) fixed;
    color: var(--color1); 
}

.header{
    height: 100px;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.378);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

h1{
    animation: flipInX;
    animation-duration: 1s;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.col-2{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.border-box{
    padding: 10px 10px;
    border-image: var(--border-gradient);
    border-width: 5px;
    border-style: solid;
    border-radius: 50em;

}

.col-2 a{
    margin: 20px 0;
    color: white;
    text-decoration: none;
}

.col-2 a:hover{
    text-decoration: underline;
}


.border-box{
    margin: 0px 10px;
}


.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections p{
    width: 75%;
  
}

h2{

    border-image: var(--border-gradient);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    padding: 0px 10px;
}


#top-link{
    color: var(--color2);
    text-decoration: none;
    font-size: italic;
    margin-bottom: 50px;
}

#top-link:hover{
    color: var(--color3);
}

/* FOR SCREEN SIZE SMALLER THAN 767 PX */

@media (max-width: 767px) {
    .flexbox {
        display: flex;
        margin-top: 0px;
    }

}
